In [67]:
a = []
for i in range(10):
    a.append(i*i)   # add i int the end of a
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
b = [1,2,3,4]
a.extend(b) # add another list in the end of a
print(a,' ', b)

c = a + b # keep a with no change
print(c,a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 2, 3, 4]   [1, 2, 3, 4]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 2, 3, 4, 1, 2, 3, 4] [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 2, 3, 4]

In [69]:
last = a.pop() # delete the last element in a 
a.remove(36)
print(a,' ', last)

[0, 1, 4, 9, 16, 25, 49, 64, 81, 1, 2, 3]   4

In [73]:
#insert sort count index reverse
a = [1, 9, 2, 6, 5, 2, 2, 6]
?? a.insert  # ?? gives you the use of  function
a.insert(10, 7)  
print(a.index(7))
print(a)
a.sort()
print(a)
a.reverse()
print(a)
a.count(2)

8
[1, 9, 2, 6, 5, 2, 2, 6, 7]
[1, 2, 2, 2, 5, 6, 6, 7, 9]
[9, 7, 6, 6, 5, 2, 2, 2, 1]

3

In [74]:
# tuple can't be changed, normally it is used as parameters
b = (1, 2, 7, 4)

In [75]:
s = {'name': 'xiaoming', 'age': 24}
s['sex'] = 'man' # a new key can be added if it first appears in the left, but wrong if a new key first appears in the right
for key in s:
    print(key, s[key])
print(s.get('job'))
#print(s['job'])

if 'age' in s:
    s['age'] = s['age'] + 1
else:
    s['age'] = 0
#equals
s['age'] = s.get('age',0) + 1
print(s['age'])

name xiaoming
age 24
sex man
None
26

In [39]:
# 切片 for  list , str
s = 'hello everyone ,it is good'
s[0:]
s[2]
s[2:7:2]
s[:5]

'hello'

In [49]:
# deep copy && week copy
a = [1,2,3,4,5]
b = a
print(id(a))
print(id(b))

b[0] = 100
print(a)

b = 100
print(id(b))

b = a[3:]
print(id(b))
a[1:2] = [9]
print(a)
print(a[1:2],a[1:1])

2046822721032
2046822721032
[100, 2, 3, 4, 5]
1423997504
2046804209416
[100, 9, 3, 4, 5]
[9] []

In [51]:
# local scope
a = 10
b = [10]
c = [10]
def test():
    a = 11
    b = [11]
    c[0] =11
test()
print(a, b, c)

10 [10] [11]

In [64]:
def test(a, b, *tup, **dicts):
    '''
    >=2 args
    '''
    if not isinstance(a, list) or not isinstance(b, int): # force type
        print("arg error")
        return
    print(a,' ', b, ' ', tup, ' ', dicts)
    return 1, 3, 4

In [65]:
key1, key2, key3 = test([22], 4)
print(key1, key2, key3)
test(b=3, a=[99])
print(key1, key2, key3)

[22]   4   ()   {}
1 3 4
[99]   3   ()   {}
1 3 4

In [57]:
test([1], 123, 'srr', {1, 3, 5}, 190)

[1]   123   ('srr', {1, 3, 5}, 190)   {}

(1, 3, 4)

In [58]:
# *arg is used to sum
def test1(*arg):
    sum = 0
    for i in arg:
        sum += i
    return sum

print(test1(1,2,100))

103

In [66]:
# 
def get_people(**kwargs):
    p = {}
    for key in kwargs:
        p[key] = kwargs[key]
    return p
get_people(name='xiaoming', age=10)

{'age': 10, 'name': 'xiaoming'}

In [1]:
s = '123456'
s1 = 'abcdefg'
for c1, c2 in zip(s, s1):
    print(c1, c2)

1 a
2 b
3 c
4 d
5 e
6 f

In [2]:
for i,  c in enumerate(s1):
    print(i, c)

0 a
1 b
2 c
3 d
4 e
5 f
6 g